# Hosts.
- name: create hosts.cfg
  sudo: true
  notify: restart nagios
  template: >
    src=hosts.cfg
    dest=/etc/nagios3/conf.d/hosts.cfg
    owner=nagios
    group=nagios
    mode=640

#- name: load hosts.cfg
#  sudo: true
#  notify: restart nagios
#  lineinfile: >
#    dest=/etc/nagios3/nagios.cfg_new
#    line="cfg_file=/etc/nagios3/conf.d/hosts.cfg"
#    regexp="cfg_file\=/etc/nagios3/conf.d/hosts\.cfg"

# Host Groups.
- name: create hostgroups.cfg
  sudo: true
  notify: restart nagios
  template: >
    src=hostgroups.cfg
    dest=/etc/nagios3/conf.d/hostgroups.cfg
    owner=nagios
    group=nagios
    mode=640

#- name: load hostgroups.cfg
#  sudo: true
#  notify: restart nagios
#  lineinfile: >
#    dest=/nagios/etc/nagios.cfg
#    line="cfg_file=/etc/nagios3/conf.d/hostgroups.cfg"
#    regexp="cfg_file\=/etc/nagios3/conf.d/hostgroups\.cfg"

# Additional Commands
- name: create additional_commands.cfg
  sudo: true
  notify: restart nagios
  template: >
    src=commands.cfg
    dest=/etc/nagios3/conf.d/additional_commands.cfg
    owner=nagios
    group=nagios
    mode=640

#- name: load additional_commands.cfg
#  sudo: true
#  notify: restart nagios
#  lineinfile: >
#    dest=/usr/local/nagios/etc/nagios.cfg
#    line="cfg_file=/etc/nagios3/conf.d/additional_commands.cfg"
#    regexp="cfg_file\=/etc/nagios3/conf.d/additional_commands\.cfg"

# Services.
- name: create services.cfg
  sudo: true
  notify: restart nagios
  template: >
    src=services.cfg
    dest=/etc/nagios3/conf.d/services.cfg
    owner=nagios
    group=nagios
    mode=640

#- name: load services.cfg
#  sudo: true
#  notify: restart nagios
#  lineinfile: >
#    dest=/usr/local/nagios/etc/nagios.cfg
#    line="cfg_file=/etc/nagios3/conf.d/services.cfg"
#    regexp="cfg_file\=/etc/nagios3/conf.d/services\.cfg"
